{% extends "layout.html" %}
{% block title %}Search Wikipedia{% endblock %}
{% block content %}
<h2>About this Demo</h2>
<p>This demo uses Flask web framework and wikipedia API to allow the user to search for things on Wikipedia.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ex odio, tincidunt id varius at, viverra id
    quam. Vivamus commodo tellus in diam viverra tincidunt. Phasellus gravida ultrices varius. Vestibulum convallis
    vitae ipsum in dictum. Ut dictum erat eu elementum egestas. Donec malesuada urna dolor, nec ultricies nibh lobortis
    dignissim. Praesent efficitur metus metus, eu ultrices libero rhoncus ut.

    Vivamus accumsan nulla erat, nec varius velit lobortis vitae. Pellentesque non vulputate dolor. Vestibulum pharetra
    risus lobortis, eleifend quam ac, blandit magna. Aliquam elit ex, dignissim vitae tellus dictum, convallis dignissim
    elit. Pellentesque elit ex, vulputate sit amet semper in, elementum vitae felis. Proin rhoncus, lorem ac vestibulum
    blandit, turpis quam pharetra urna, in suscipit felis massa ut eros. Curabitur a nunc nec risus commodo semper.
    Fusce est leo, ultrices quis malesuada quis, sodales et risus. Cras nec mattis leo. Cras luctus justo quis dolor
    aliquet cursus. Donec quam dolor, rhoncus vitae lobortis et, porta in lectus.</p>
{% endblock %}